[submodule "frontend"]
	path = frontend
    url = git@git.coding.net:Protobia/HeyCommunity-frontend.git
    branch = cloudCommunity
[submodule "backend"]
	path = backend
    url = git@git.coding.net:Protobia/HeyCommunity-backend.git
    branch = cloudCommunity
